AI Content Discovery, Generation, and Publishing Pipeline.json
{
  "name": "AI Content Discovery, Generation, and Publishing Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "127674f5-9277-41eb-8985-b42b8f4ba41a",
      "name": "Trigger Workflow",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -27280,
        6496
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "searchTopic",
              "value": "={{ $json.searchTopic }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "loginUrl",
              "value": "http://127.0.0.1:8000/api/login",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "publishUrl",
              "value": "http://127.0.0.1:8000/api/publish-blog",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "email",
              "value": "email@gmail.com",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "password",
              "value": "e****f$",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "currentExecutionIndex",
              "value": "={{ $now.format('yyyy-MM-dd') }}",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "seriesName",
              "value": "={{ $json.seriesName }}",
              "type": "string"
            },
            {
              "id": "410ea011-8e27-4ca9-a00d-121d96fb95bb",
              "name": "description",
              "value": "={{ $json.description }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "817a503c-18d9-4a1f-8bb3-703ef132b0c0",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -25968,
        6608
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a progressive learning content series of 1 to 5 items based on the topic: {{ $('Workflow Configuration').item.json.searchTopic }} and the description: {{ $json.description }}.\n\nInstructions for the AI:\n\nResearch thoroughly: Use your internal knowledge (GPT), any documents, attachments, or explanations provided, and web-based resources to gather relevant information about the topic.\n\nSeries structure: Create items in order from foundational to advanced concepts, ensuring that each item builds logically on the previous one.\n\nFor each item, provide the following fields:\n\nUnique title: A creative, precise title aligned with the topic and description.\n\nSubtitle: A short explanation of the focus of this item.\n\nCore concept: The main concept covered by this item.\n\nDetailed explanation: Explain the core concept thoroughly, including examples if relevant.\n\nPrerequisites: Knowledge or skills required before learning this item.\n\nDifficulty level: Rate the difficulty from 1 (easy) to 5 (advanced).\n\nConstraints:\n\nItems must flow progressively from basic/foundational concepts to advanced topics.\n\nAll outputs should be consistent with the search topic and description.\n\nMake each item actionable, clear, and educational.\nFor each item in the series, provide:\n- A unique title\n- A subtitle explaining the focus\n- Core concept covered\n- Prerequisites\n- Difficulty level (1-5)\n\nOrder items from foundational to advanced concepts. Each item should build on previous ones.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert curriculum architect and technical educator. Create progressive, structured learning plans that build knowledge systematically. Each item must cover ONE clear concept, be suitable for a single daily post, and follow logical progression from basics to advanced topics. Output must be in structured format ready for tabular storage."
        }
      },
      "id": "3c3baaa2-25c9-477f-b114-ea89ca020b79",
      "name": "AI1 - Content Discovery Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -25568,
        6384
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.7
        }
      },
      "id": "53e29b04-de7c-4338-b670-29171b9cc700",
      "name": "OpenAI Model for Discovery",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -25632,
        6704
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "OKM51YqpX8BnYmgo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "gl": "us",
          "device": "desktop",
          "no_cache": false,
          "google_domain": "google.com",
          "hl": "en"
        }
      },
      "id": "007d7aeb-fa44-48d1-b7b2-516f86f0aaae",
      "name": "Google Search Tool",
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        -25504,
        6656
      ],
      "credentials": {
        "serpApi": {
          "id": "KHgecH7CCrzx3hmo",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\"type\":\"object\",\"properties\":{\"series_plan\":{\"type\":\"array\",\"items\":{\"type\":\"object\",\"properties\":{\"index\":{\"type\":\"number\"},\"series_name\":{\"type\":\"string\"},\"title\":{\"type\":\"string\"},\"subtitle\":{\"type\":\"string\"},\"core_concept\":{\"type\":\"string\"},\"difficulty\":{\"type\":\"number\"},\"status\":{\"type\":\"string\"}},\"required\":[\"index\",\"series_name\",\"title\",\"subtitle\",\"core_concept\",\"difficulty\",\"status\"]}}},\"required\":[\"series_plan\"]}"
      },
      "id": "b2ab3227-b25e-4038-b632-11215c877e5d",
      "name": "Search Results Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -25376,
        6704
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate content on the following topic from the series:\n{{ $json.series_plan_str }}\n\nRequirements:\n\nStart with a professional introduction that immediately conveys the relevance of the topic. Avoid clichés, filler phrases, or labels like \"Opening Hook\".\n\nExplain the concept in precise, technical terms, written for a professional audience. Use natural, human-like language as if you are reporting or documenting knowledge. Do not label sections as “Explanation of Concept.”\n\nInclude one practical, real-world example to demonstrate application. Avoid labeling it “Practical Example.”\n\nHighlight one common mistake or misconception, phrased as advice for practitioners. Do not use section headers like “Common Mistake.”\n\nEnd with a concise summary that reinforces the key point. Avoid explicit labels like “Summary.”\n\nAdditional guidance:\n\nStructure the content naturally, like a professional blog or report. Section headings should be implicit or seamlessly integrated into the flow rather than overtly labeled.\n\nTone: professional, authoritative, instructional. Avoid conversational filler or anything that signals beginner-level writing.\n\nDo not reference future lessons, learning paths, or AI-generated content. Focus exclusively on the current concept.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a professional technical educator. Create focused, single-concept educational content. Each piece must be self-contained, clear, and actionable. Use professional instructional tone without marketing language or verbose filler. Provide practical examples and highlight common pitfalls."
        }
      },
      "id": "9aded6e8-1f39-4750-a394-0101e6ceeb77",
      "name": "AI2 - Content Generation Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -25024,
        6352
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.8
        }
      },
      "id": "37190836-d981-4ebe-92af-738cb481a49d",
      "name": "OpenAI Model for Content",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -25120,
        6720
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "OKM51YqpX8BnYmgo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\"type\":\"object\",\"properties\":{\"title\":{\"type\":\"string\"},\"description\":{\"type\":\"string\"},\"content\":{\"type\":\"string\"},\"selected_index\":{\"type\":\"number\"},\"new_status\":{\"type\":\"string\"}},\"required\":[\"title\",\"description\",\"content\",\"selected_index\",\"new_status\"]}"
      },
      "id": "85cf8ab2-83aa-4a5d-a853-2195d82d3ff0",
      "name": "Content Structure Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -24992,
        6688
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "={{ \"Create a professional educational header image for a lesson titled: \" + $json.output.title + \". The image should be clean, modern, and suitable for an educational/instructional context. Style: professional, minimalist, educational.\" }}",
        "options": {
          "dalleQuality": "hd",
          "size": "1024x1024",
          "style": "natural",
          "returnImageUrls": true
        }
      },
      "id": "7966dc19-1d54-41dd-80e9-4205f01cfbd4",
      "name": "AI3 - Image Generation",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -24816,
        6912
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "OKM51YqpX8BnYmgo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Workflow Configuration').item.json.loginUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { 'email': $('Workflow Configuration').item.json.email, 'password': $('Workflow Configuration').item.json.password } }}",
        "options": {}
      },
      "id": "d99f9819-9db0-463c-9800-109d0ad0f085",
      "name": "Node4 - JWT Authentication",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -24816,
        7152
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "access_token",
              "value": "={{ $json.data.access_token }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "token_type",
              "value": "={{ $json.data.token_type }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "user_id",
              "value": "={{ $json.data.user.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "46e41346-60a2-46e7-970a-1a126a1bbf4e",
      "name": "Extract JWT Token",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -24592,
        7152
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "9d5fb761-954a-4f88-a0b1-ea7162ee87d3",
      "name": "Merge Content and Images",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -24592,
        6336
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "e9e9d7b4-50bb-4267-8048-f86c13a3f706",
      "name": "Merge JWT with Content",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -24352,
        6336
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3481d873-d4d5-4334-b83c-39099b37f2de",
      "name": "Check Publishing Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -23696,
        6336
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {},
      "id": "9e3c0bb4-889a-4dee-a611-7bd7f5e48d06",
      "name": "Wait Before Retry",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -23472,
        6128
      ],
      "webhookId": "a155910d-1947-489c-b02b-9ace014a916c",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Workflow Configuration').item.json.publishUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Prepare Publishing Payload').item.json.bearer_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $('Prepare Publishing Payload').item.json.title }}"
            },
            {
              "name": "description",
              "value": "={{ $('Prepare Publishing Payload').item.json.description }}"
            },
            {
              "name": "content",
              "value": "={{ $('Prepare Publishing Payload').item.json.content }}"
            },
            {
              "name": "is_published",
              "value": "={{ String($('Prepare Publishing Payload').item.json.is_published) }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "images",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "a0f7712f-3463-47ad-81a1-3cfa497ee939",
      "name": "Retry Publish Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -23248,
        6128
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "title",
              "value": "={{ $('Node5 - Publish Content').item.json.data.title }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "published",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "id-3",
              "name": "api_response",
              "value": "={{ $('Node5 - Publish Content').item.json.message }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "blog_url",
              "value": "={{ 'http://127.0.0.1:8000/blog?id=' + $('Node5 - Publish Content').item.json.data.blog_id }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "blog_id",
              "value": "={{ $('Node5 - Publish Content').item.json.data.blog_id }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "timestamp",
              "value": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "success",
              "value": "={{ $('Node5 - Publish Content').item.json.success }}",
              "type": "boolean"
            },
            {
              "id": "id-8",
              "name": "selected_index",
              "value": "={{ $('AI2 - Content Generation Agent').item.json.output.selected_index }}",
              "type": "number"
            },
            {
              "id": "id-9",
              "name": "series_status",
              "value": "={{ $('AI2 - Content Generation Agent').item.json.output.new_status }}",
              "type": "string"
            },
            {
              "id": "id-10",
              "name": "completion_signal",
              "value": "={{ $('AI2 - Content Generation Agent').item.json.output.new_status === 'PUBLISHED' ? 'READY FOR NEXT TRIGGER' : 'WORKFLOW DONE ALL CONTENT PUBLISHED' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8c899b5d-7a54-4ecc-a62a-8ee0d2c7f6c2",
      "name": "Create Success Log Entry",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -22800,
        6528
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "title",
              "value": "={{ $('Prepare Publishing Payload').item.json.title }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "published",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "id-3",
              "name": "api_response",
              "value": "={{ $json.message || 'Publishing failed after retry' }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "blog_url",
              "value": "",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "blog_id",
              "value": "",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "timestamp",
              "value": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "success",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "1a8fadd9-36e9-41f7-a884-6820c7922ce7",
      "name": "Create Failure Log Entry",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -22800,
        6080
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.7
        }
      },
      "id": "81046b28-f397-428b-9a71-6bd96dd5d9ca",
      "name": "OpenAI Model for LinkedIn",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -22576,
        6784
      ],
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "OKM51YqpX8BnYmgo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"linkedin_post_text\": {\"type\": \"string\"},\n    \"attached_blog_url\": {\"type\": \"string\"}\n  },\n  \"required\": [\"linkedin_post_text\", \"attached_blog_url\"]\n}"
      },
      "id": "2704c0b3-6c00-40aa-a82c-f5a24fec1a7b",
      "name": "LinkedIn Post Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -22448,
        6784
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "url"
            }
          ]
        },
        "options": {}
      },
      "id": "86d8eef8-e5d8-4ea1-a8ac-6858b261d149",
      "name": "Aggregate Meme Images",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -22512,
        6960
      ]
    },
    {
      "parameters": {
        "html": "=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Educational Content Published</title>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; max-width: 600px; margin: 0 auto; padding: 20px; background-color: #f4f4f4; }\n    .container { background-color: white; border-radius: 8px; overflow: hidden; box-shadow: 0 2px 4px rgba(0,0,0,0.1); }\n    .header { background-color: #0077b5; color: white; padding: 30px 20px; text-align: center; }\n    .header h1 { margin: 0; font-size: 28px; }\n    .header p { margin: 10px 0 0 0; font-size: 16px; opacity: 0.9; }\n    .content { padding: 30px 20px; }\n    .section { margin-bottom: 25px; }\n    .section h2 { color: #0077b5; border-bottom: 2px solid #0077b5; padding-bottom: 8px; margin-top: 0; font-size: 20px; }\n    .status-badge { display: inline-block; padding: 8px 16px; border-radius: 4px; font-weight: bold; font-size: 14px; }\n    .status-ready { background-color: #28a745; color: white; }\n    .status-complete { background-color: #6c757d; color: white; }\n    .linkedin-post { background-color: #f9f9f9; padding: 20px; border-left: 4px solid #0077b5; margin: 15px 0; white-space: pre-wrap; font-size: 15px; line-height: 1.6; border-radius: 4px; }\n    .post-status { background-color: #d4edda; color: #155724; padding: 10px 15px; border-radius: 4px; margin-bottom: 15px; border-left: 4px solid #28a745; }\n    .metadata { background-color: #f8f9fa; padding: 15px; border-radius: 4px; border: 1px solid #dee2e6; }\n    .metadata p { margin: 8px 0; font-size: 14px; }\n    .metadata strong { color: #495057; }\n    .metadata a { color: #0077b5; text-decoration: none; }\n    .metadata a:hover { text-decoration: underline; }\n    .cta { background-color: #0077b5; color: white; padding: 14px 28px; text-decoration: none; border-radius: 4px; display: inline-block; margin-top: 15px; font-weight: bold; transition: background-color 0.3s; }\n    .cta:hover { background-color: #005885; }\n    .footer { text-align: center; padding: 20px; color: #666; font-size: 12px; background-color: #f8f9fa; border-top: 1px solid #dee2e6; }\n    .divider { height: 1px; background-color: #dee2e6; margin: 20px 0; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>📚 Educational Content Published</h1>\n      <p>Series Item #{{ $json.series_index }}</p>\n    </div>\n    <div class=\"content\">\n      <div class=\"section\">\n        <h2>📊 Series Status</h2>\n        <p><span class=\"status-badge {{ $json.completion_status === \"READY FOR NEXT TRIGGER\" ? \"status-ready\" : \"status-complete\" }}\">{{ $json.completion_status }}</span></p>\n      </div>\n      \n      <div class=\"divider\"></div>\n      \n      <div class=\"section\">\n        <h2>📝 LinkedIn Post</h2>\n        <div class=\"post-status\">\n          ✅ <strong>Already Posted to LinkedIn</strong>\n        </div>\n        <div class=\"linkedin-post\">{{ $json.linkedin_post }}</div>\n      </div>\n      \n      <div class=\"divider\"></div>\n      \n      <div class=\"section\">\n        <h2>📊 Content Metadata</h2>\n        <div class=\"metadata\">\n          <p><strong>Title:</strong> {{ $json.blog_title }}</p>\n          <p><strong>Blog URL:</strong> <a href=\"{{ $json.blog_url }}\" target=\"_blank\">{{ $json.blog_url }}</a></p>\n          <p><strong>Blog ID:</strong> {{ $json.blog_id }}</p>\n          <p><strong>Published:</strong> {{ $json.timestamp }}</p>\n        </div>\n      </div>\n      \n      <div class=\"section\" style=\"text-align: center;\">\n        <a href=\"{{ $json.blog_url }}\" class=\"cta\" target=\"_blank\">View Published Content</a>\n      </div>\n    </div>\n    <div class=\"footer\">\n      <p>🤖 Automated Educational Content Series Workflow</p>\n      <p>This content was automatically generated, published, and shared to LinkedIn</p>\n    </div>\n  </div>\n</body>\n</html>"
      },
      "id": "b69ee97a-25c6-411e-a86f-0f3142510725",
      "name": "Format Email HTML",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -20512,
        6448
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Prepare Email with linkdin posted').item.json.recipient_email }}",
        "subject": "={{ \"📚 Educational Content Published - Item #\" + $('Prepare Email with linkdin posted').item.json.series_index + \": \" + $('Prepare Email with linkdin posted').item.json.blog_title }}",
        "message": "={{ $json.html }}",
        "options": {
          "bccList": "",
          "ccList": ""
        }
      },
      "id": "7b2b24c2-2f38-4f4c-8c82-fcfbcb299c54",
      "name": "Send Email Notification",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -20272,
        6464
      ],
      "webhookId": "8d9f6b08-ca36-4152-bd96-2c8aa360eb59",
      "retryOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "xhpIoo0rWaN2m6OQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "27f7c2bb-c3bd-4327-ad2c-d0bae013f727",
      "name": "Merge LinkedIn and Meme Images",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -22224,
        6816
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "title",
              "value": "={{ $('Merge JWT with Content').item.json.output.title }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "description",
              "value": "={{ $('Merge JWT with Content').item.json.output.description }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "content",
              "value": "={{ $('Merge JWT with Content').item.json.output.content }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "is_published",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "id-5",
              "name": "bearer_token",
              "value": "={{ $('Merge JWT with Content').item.json.access_token }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7671d90b-b417-48e5-acc8-4ce05b2b11a6",
      "name": "Prepare Publishing Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -24144,
        6336
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Workflow Configuration').item.json.publishUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Prepare Publishing Payload').item.json.bearer_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $json.title }}"
            },
            {
              "name": "content",
              "value": "={{ $json.content }}"
            },
            {
              "name": "description",
              "value": "={{ $json.description }}"
            },
            {
              "name": "image",
              "value": "={{ String($('Merge JWT with Content').item.json.url) }}"
            },
            {
              "name": "is_published",
              "value": "={{ String($json.is_published) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -23920,
        6320
      ],
      "id": "4286a0d8-dbf2-4cf1-8f0f-df4771721bb1",
      "name": "Node5 - Publish Content"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a8a3b3dd-5030-4449-846c-fae5c816f6e0",
      "name": "Check Publishing Success1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -23024,
        6128
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a LinkedIn post for this educational content:\n\nTitle: {{ $('Create Success Log Entry').item.json.title }}\nContent: {{ $('AI2 - Content Generation Agent').item.json.output.content }}\nBlog URL: {{ $('Create Success Log Entry').item.json.blog_url }}\n\nRequirements:\n\nThe post should start with a one-sentence title on the first line.\n\nOn the next line, provide a single concise paragraph explaining the content. Do not use dashes or emojis. Keep it professional and to the point.\n\nOn the following line, include relevant hashtags based on the topic.\n\nOn the next line, add the blog link exactly as: link to blog: <URL> without brackets, braces, or any extra formatting.\n\nDo not use markdown or other styling. Keep it plain text and readable.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a professional educational content strategist.\n\nYour task is to:\n1. Create engaging, concise LinkedIn posts that promote learning\n2. Drive engagement with professional yet accessible tone\n3. Always include the resource URL\n4. Focus on the educational value\n5. Summarize in 1-3 sentences\n6. Keep under 300 characters\n7. Use Markdown formatting\n8. Highlight the key learning point\n\nReturn ONLY the LinkedIn post text with the blog URL included."
        }
      },
      "id": "32a1c32e-e827-4253-bc1a-65e14fe676a7",
      "name": "AI4 - LinkedIn Post Generator",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -22576,
        6560
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2b6fc9f7-4759-40b1-9001-eee251ac0175",
              "leftValue": "={{ $json.success }}",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -22512,
        6176
      ],
      "id": "ea0c3b6a-df6e-4333-b7bc-83d2f5f26ec7",
      "name": "If",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2b6fc9f7-4759-40b1-9001-eee251ac0175",
              "leftValue": "={{ $json.success }}",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -22512,
        6368
      ],
      "id": "e9e458f8-15e8-4840-8983-81593b682355",
      "name": "If1"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "Content Publishing Logs"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "published": false
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "published",
              "displayName": "published",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "api_response",
              "displayName": "api_response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "blog_url",
              "displayName": "blog_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "blog_id",
              "displayName": "blog_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "success",
              "displayName": "success",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f25d1a15-48cf-4fff-ba9c-38f6aac87c96",
      "name": "Node6 - Store Logs",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -21920,
        6112
      ]
    },
    {
      "parameters": {
        "url": "={{ String($('Aggregate Meme Images').item.json.url[0]) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -22000,
        6816
      ],
      "id": "395c809b-a253-43ab-8502-75a9ffb4cb8e",
      "name": "HTTP Request",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "24b369e6-ce6f-4e0f-bfa1-7246b261b43f",
              "leftValue": "={{ $json.urn }}",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -21104,
        6576
      ],
      "id": "64f5dec3-3c8c-4eb8-95a5-c4fb8192a991",
      "name": "If2"
    },
    {
      "parameters": {
        "html": "=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Educational Content Published</title>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; max-width: 600px; margin: 0 auto; padding: 20px; background-color: #f4f4f4; }\n    .container { background-color: white; border-radius: 8px; overflow: hidden; box-shadow: 0 2px 4px rgba(0,0,0,0.1); }\n    .header { background-color: #0077b5; color: white; padding: 30px 20px; text-align: center; }\n    .header h1 { margin: 0; font-size: 28px; }\n    .header p { margin: 10px 0 0 0; font-size: 16px; opacity: 0.9; }\n    .content { padding: 30px 20px; }\n    .section { margin-bottom: 25px; }\n    .section h2 { color: #0077b5; border-bottom: 2px solid #0077b5; padding-bottom: 8px; margin-top: 0; font-size: 20px; }\n    .status-badge { display: inline-block; padding: 8px 16px; border-radius: 20px; font-weight: bold; font-size: 14px; }\n    .status-ready { background-color: #28a745; color: white; }\n    .status-complete { background-color: #6c757d; color: white; }\n    .linkedin-post { background-color: #f9f9f9; padding: 20px; border-left: 4px solid #0077b5; margin: 15px 0; white-space: pre-wrap; font-size: 15px; line-height: 1.6; border-radius: 4px; }\n    .metadata { background-color: #f0f7ff; padding: 15px; border-radius: 6px; border: 1px solid #d0e7ff; }\n    .metadata p { margin: 8px 0; font-size: 14px; }\n    .metadata strong { color: #0077b5; }\n    .metadata a { color: #0077b5; text-decoration: none; word-break: break-all; }\n    .metadata a:hover { text-decoration: underline; }\n    .cta { background-color: #0077b5; color: white; padding: 14px 28px; text-decoration: none; border-radius: 6px; display: inline-block; margin-top: 15px; font-weight: bold; transition: background-color 0.3s; }\n    .cta:hover { background-color: #005885; }\n    .footer { text-align: center; padding: 20px; color: #666; font-size: 12px; background-color: #f9f9f9; border-top: 1px solid #e0e0e0; }\n    .alert-box { background-color: #fff3cd; border-left: 4px solid #ffc107; padding: 15px; margin: 15px 0; border-radius: 4px; }\n    .alert-box p { margin: 0; color: #856404; font-size: 14px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>📚 Educational Content Published Successfully</h1>\n      <p>Series Item #{{ $json.series_index }}</p>\n    </div>\n    <div class=\"content\">\n      <div class=\"section\">\n        <h2>📊 Series Status</h2>\n        <p><span class=\"status-badge {{ $json.completion_status === \"READY FOR NEXT TRIGGER\" ? \"status-ready\" : \"status-complete\" }}\">{{ $json.completion_status }}</span></p>\n      </div>\n      \n      <div class=\"section\">\n        <h2>📝 LinkedIn Post (Ready to Post)</h2>\n        <div class=\"alert-box\">\n          <p>⚠️ The LinkedIn post below is ready for manual posting. Please review and post to your LinkedIn profile.</p>\n        </div>\n        <div class=\"linkedin-post\">{{ $json.linkedin_post }}</div>\n      </div>\n      \n      <div class=\"section\">\n        <h2>📊 Content Metadata</h2>\n        <div class=\"metadata\">\n          <p><strong>Title:</strong> {{ $json.blog_title }}</p>\n          <p><strong>Blog URL:</strong> <a href=\"{{ $json.blog_url }}\" target=\"_blank\">{{ $json.blog_url }}</a></p>\n          <p><strong>Blog ID:</strong> {{ $json.blog_id }}</p>\n          <p><strong>Published:</strong> {{ $json.timestamp }}</p>\n        </div>\n      </div>\n      \n      <div class=\"section\">\n        <a href=\"{{ $json.blog_url }}\" class=\"cta\" target=\"_blank\">View Published Content →</a>\n      </div>\n    </div>\n    <div class=\"footer\">\n      <p>Automated Educational Content Series Workflow</p>\n      <p>This is an automated notification. Please do not reply to this email.</p>\n    </div>\n  </div>\n</body>\n</html>"
      },
      "id": "878264b3-e4a0-4925-b338-a4623b440278",
      "name": "Format Email HTML1",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -20432,
        6800
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Prepare Email with linkdin posted').item.json.recipient_email }}",
        "subject": "={{ \"📚 Educational Content Published - Item #\" + $('Prepare Email for linkdin notposted').item.json.series_index + \": \" + $('Prepare Email for linkdin notposted').item.json.blog_title }}",
        "message": "={{ $json.html }}",
        "options": {
          "bccList": "",
          "ccList": ""
        }
      },
      "id": "9df842f3-f3f5-4913-9f89-c549363c659f",
      "name": "Send Email Notification1",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -20192,
        6800
      ],
      "webhookId": "8d9f6b08-ca36-4152-bd96-2c8aa360eb59",
      "retryOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "xhpIoo0rWaN2m6OQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Workflow Configuration').item.json.email }}",
        "subject": "Educational Content Publishing Failed",
        "emailType": "text",
        "message": "=Educational content publishing encountered an error at {{ $json.timestamp }}.\n\nPlease check the workflow logs for details.",
        "options": {
          "bccList": "",
          "ccList": ""
        }
      },
      "id": "3e3d0956-634a-4920-b106-252dc5fa50a5",
      "name": "Send Email Notification2",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -22512,
        5984
      ],
      "webhookId": "8d9f6b08-ca36-4152-bd96-2c8aa360eb59",
      "retryOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "xhpIoo0rWaN2m6OQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {}
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1TutIy_GHroIcjYW0TCjvvmP5Q6daZQtb5EaJ4V0Wt4Y",
          "mode": "list",
          "cachedResultName": "Blog Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TutIy_GHroIcjYW0TCjvvmP5Q6daZQtb5EaJ4V0Wt4Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TutIy_GHroIcjYW0TCjvvmP5Q6daZQtb5EaJ4V0Wt4Y/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -26288,
        7584
      ],
      "id": "f6f48a82-b4c2-49df-b7f8-55e7fb240a45",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "eHzuAaZPS67i2MbQ",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "id-2",
              "leftValue": "={{ $json.published }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "id-3",
              "leftValue": "={{ $json.finished }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "739df4b3-10b0-4b13-9910-9c09d2afce34",
      "name": "Filter Valid Rows",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -25840,
        7584
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "blog_contents"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "id_google_sheet",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "returnAll": true
      },
      "id": "c88c70e9-fdf1-4893-9b22-cc75aa5c7681",
      "name": "Query Overview Table",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -25616,
        7584
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "e99b0980-a03c-4130-a2d3-e7637f3232c7",
      "name": "Count Existing Entries",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -25392,
        7584
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.count_data0 }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a5e09e86-0bde-4493-a4c7-5234e43810a3",
      "name": "Check Deduplication Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -24944,
        7584
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "title",
              "value": "={{ $('Filter Valid Rows').item.json.title }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "seriesName",
              "value": "={{ $('Filter Valid Rows').item.json.seriesName }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "description",
              "value": "={{ $('Filter Valid Rows').item.json.description }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "source_id",
              "value": "={{ $('Filter Valid Rows').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2f62eb05-ecef-47b1-bb64-2e31af271c1a",
      "name": "Prepare AI Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -24720,
        7488
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a progressive learning content series based on this topic.\n\nSeries title: {{ $json.title }}\nSeries name: {{ $json.seriesName }}\nSeries description: {{ $json.description }}\n\nTask: Create a concise learning plan for this series. Each entry represents one daily blog topic. Return between 1 and 5 topics total.\n\nEach topic must include:\n- topic_title (clear, specific title)\n- topic_description (2-3 sentences explaining what will be covered)",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a curriculum planner.\n\nYour job is to break a single knowledge series into a small number of atomic teaching topics.\n\nRules you must follow strictly:\n- Each topic must represent one clear blog post idea\n- Each topic must build logically within the same series\n- Do not repeat concepts\n- Do not create subtopics or variations\n- Do not exceed five topics\n- Do not return fewer than one topic\n\nOutput must be structured JSON only."
        }
      },
      "id": "87722a7c-4e02-443e-9717-d62c2f824863",
      "name": "AI Planning Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -24496,
        7488
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.1
        }
      },
      "id": "64c98dbe-e259-4823-8099-5c02a7918286",
      "name": "OpenAI Model for Planning",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -24496,
        7712
      ],
      "credentials": {
        "openAiApi": {
          "id": "OKM51YqpX8BnYmgo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\"type\":\"object\",\"properties\":{\"topics\":{\"type\":\"array\",\"items\":{\"type\":\"object\",\"properties\":{\"topic_title\":{\"type\":\"string\"},\"topic_description\":{\"type\":\"string\"}},\"required\":[\"topic_title\",\"topic_description\"]}}},\"required\":[\"topics\"]}"
      },
      "id": "c163405d-90fa-4607-814f-6e163a44b9b2",
      "name": "Topics Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -24368,
        7712
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "id-2",
              "leftValue": "={{ $json.topic_count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "59f71a1c-dc1f-4a52-91b1-3891be07902e",
      "name": "Validate AI Output",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -23920,
        7488
      ]
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "# Loop over all items\nfor item in _items:\n    # Access the topics safely inside the 'json' key\n    topics = item.get(\"json\", {}).get(\"topics\", [])\n\n    # Truncate to 6 if there are more than 6 topics\n    if len(topics) > 6:\n        item[\"json\"][\"topics\"] = topics[:6]\n\n    # Update topic_count to match the truncated list\n    item[\"json\"][\"topic_count\"] = len(item[\"json\"][\"topics\"])\n\n# Return the modified list\nreturn _items\n"
      },
      "id": "fa7398d3-0796-4bb3-a303-9bfdf9d974db",
      "name": "Truncate to 5 Topics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -23696,
        7392
      ]
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "blog_contents"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "finished": false
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "seriesName",
              "displayName": "seriesName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "searchTopic",
              "displayName": "searchTopic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "blog_url",
              "displayName": "blog_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "linkdin_url",
              "displayName": "linkdin_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "finished",
              "displayName": "finished",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "id_google_sheet",
              "displayName": "id_google_sheet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "5edd24c9-3649-44d8-bb25-4b41656c0bb4",
      "name": "Insert Topics to Overview Table",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -23024,
        7392
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "bab21562-3a80-42e7-ab28-e582936ef43f",
      "name": "Aggregate Inserted Topics",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -22800,
        7392
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1TutIy_GHroIcjYW0TCjvvmP5Q6daZQtb5EaJ4V0Wt4Y",
          "cachedResultName": "Blog Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TutIy_GHroIcjYW0TCjvvmP5Q6daZQtb5EaJ4V0Wt4Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TutIy_GHroIcjYW0TCjvvmP5Q6daZQtb5EaJ4V0Wt4Y/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "finished": true,
            "id": "={{ $('Prepare AI Input').item.json.source_id }}",
            "no_blogs": "={{ $json.count_data0 }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "seriesName",
              "displayName": "seriesName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "published",
              "displayName": "published",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "linkedIn_published",
              "displayName": "linkedIn_published",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "no_blogs",
              "displayName": "no_blogs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "start_date",
              "displayName": "start_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "end_date",
              "displayName": "end_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "finished",
              "displayName": "finished",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "d8cb7eef-8475-4c8d-9a51-fa86287f1641",
      "name": "Update Sheet Finished Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -22000,
        7344
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cgJ3Vi4c7RbYJ98v",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "id": "e8dd1bff-f719-43a1-ac8e-54353d2688b8",
      "name": "Stop - Already Has 5 Topics",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -24720,
        7680
      ]
    },
    {
      "parameters": {},
      "id": "f7e3fd80-ec8c-43cc-8403-e5bef49edfe8",
      "name": "Stop - Invalid AI Output",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -23696,
        7584
      ]
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "def to_bool(value):\n    if isinstance(value, bool):\n        return value\n\n    if isinstance(value, str):\n        v = value.strip().lower()\n        if v == \"\":\n            return False\n        return v in (\"true\", \"1\", \"yes\")\n\n    if value is None:\n        return False\n\n    return bool(value)\n\nBOOL_FIELDS = [\n    \"published\",\n    \"linkedIn_published\",\n    \"finished\"\n]\n\nfor item in _items:\n    data = item[\"json\"]\n    for field in BOOL_FIELDS:\n        data[field] = to_bool(data.get(field))\n\nreturn _items\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -26064,
        7584
      ],
      "id": "ae251203-c25e-4e98-8d39-d0c05b1e1582",
      "name": "Code in Python"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "# Get the topics list from the first item's json\ntopics = _items[0].get(\"json\", {}).get(\"output\", {}).get(\"topics\", [])\n\n# Count the number of topics\ntopic_count = len(topics)\n\n# Return only the count as JSON\nreturn {\n    \"topic_count\": topic_count,\n  \"topics\": topics\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -24144,
        7488
      ],
      "id": "a4308c13-4d1e-41f5-9174-316be4d875bd",
      "name": "Code in Python1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "topics",
        "options": {}
      },
      "id": "3378e523-a8e2-43d2-a119-a32b23ecdf29",
      "name": "Split Topics into Individual Items",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -23472,
        7392
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4e125f6a-e79a-40ae-8032-0c0548161491",
              "name": "searchTopic",
              "value": "={{ $json.topic_title }}",
              "type": "string"
            },
            {
              "id": "f87c779f-84dd-49bd-bb98-7f24d9909362",
              "name": "description",
              "value": "={{ $json.topic_description }}",
              "type": "string"
            },
            {
              "id": "eda0502d-2eae-42aa-bfb2-1a9b767ea6c6",
              "name": "seriesName",
              "value": "={{ $('Prepare AI Input').item.json.seriesName }}",
              "type": "string"
            },
            {
              "id": "c420d0b7-45d8-4935-9885-3c45f8024819",
              "name": "id_google_sheet",
              "value": "={{ $('Prepare AI Input').item.json.source_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0f41c50c-8035-4ea2-84c6-6e98837f2204",
      "name": "Format Each Topic for Insert",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -23248,
        7392
      ]
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "# Get the data list from the first item\ndata_list = _items[0].get(\"json\", {}).get(\"data\", [])\n\n# Count the number of entries in data\ndata_count = len(data_list)\n\n# Return only the count as JSON\nreturn {\n    \"count_data0\": data_count\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -25184,
        7584
      ],
      "id": "73c58966-9332-4f44-b477-e589477c7cb0",
      "name": "Code in Python2"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "# Get the data list from the first item\ndata_list = _items[0].get(\"json\", {}).get(\"data\", [])\n\n# Count the number of entries in data\ndata_count = len(data_list)\n\n# Return only the count as JSON\nreturn {\n    \"count_data0\": data_count\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -22592,
        7392
      ],
      "id": "b37f4351-e612-44bf-9987-98dba9f5321b",
      "name": "Code in Python3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1a83bf7a-4ab9-414d-be99-29c89b4f4ee6",
              "leftValue": "={{ $json.count_data0 }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -22384,
        7392
      ],
      "id": "3d98b8f9-3093-4ae2-9502-f2e6f2623fbe",
      "name": "If3"
    },
    {
      "parameters": {},
      "id": "995403ae-fbf2-4c8f-9559-ffc686cbaf8f",
      "name": "Stop - Invalid AI Output1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -21616,
        7776
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "blog_contents"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "finished",
              "condition": "isEmpty"
            }
          ]
        },
        "limit": 1
      },
      "id": "c61dfc35-2285-4425-9664-aa68061b24d0",
      "name": "Query Overview Table1",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -26384,
        6432
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "# Get the series_plan from the first item\nseries_plan = _items[0][\"json\"][\"output\"][\"series_plan\"]\n\n# Convert the series_plan to a JSON-like string\nseries_plan_str = str(series_plan).replace(\"'\", '\"')\n\n# Return as a list with a single item containing only the string\nreturn [{\"json\": {\"series_plan_str\": series_plan_str}}]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -25168,
        6368
      ],
      "id": "6b572bc5-696a-4310-be2d-bcd9e9918398",
      "name": "Code in Python4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c563fb47-6ee3-469b-84d0-90f06c092cd5",
              "leftValue": "={{ $json.error.name }}",
              "rightValue": "Error",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -21792,
        6816
      ],
      "id": "c27cf646-899a-48d2-8867-1c27c61c0bdd",
      "name": "If4"
    },
    {
      "parameters": {
        "person": "W99IOxR57F",
        "text": "={{ $('AI4 - LinkedIn Post Generator').item.json.output.linkedin_post_text }}",
        "shareMediaCategory": "IMAGE",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        -21504,
        6752
      ],
      "id": "c5d5c04d-7ebb-4f74-90d5-4837b961f0f6",
      "name": "Create a post1",
      "notesInFlow": false,
      "retryOnFail": true,
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "YGMhQ94fa48dPYLj",
          "name": "LinkedIn account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "linkedin_post",
              "value": "={{ $('AI4 - LinkedIn Post Generator').item.json.output.linkedin_post_text }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "blog_url",
              "value": "={{ $('Create Success Log Entry').item.json.blog_url }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "blog_title",
              "value": "={{ $('Create Success Log Entry').item.json.title }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "blog_id",
              "value": "={{ $('Create Success Log Entry').item.json.blog_id }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "timestamp",
              "value": "={{ $('Create Success Log Entry').item.json.timestamp }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "meme_images",
              "value": "={{ $('Aggregate Meme Images').item.json.url }}",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "recipient_email",
              "value": "={{ $('Workflow Configuration').item.json.email }}",
              "type": "string"
            },
            {
              "id": "id-8",
              "name": "series_index",
              "value": "={{ $('Create Success Log Entry').item.json.selected_index }}",
              "type": "number"
            },
            {
              "id": "id-9",
              "name": "completion_status",
              "value": "={{ $('Create Success Log Entry').item.json.completion_signal }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9c3febdb-9537-4197-a363-2a2482e996c4",
      "name": "Prepare Email for linkdin notposted",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -20672,
        6816
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "linkedin_post",
              "value": "={{ $('AI4 - LinkedIn Post Generator').item.json.output.linkedin_post_text }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "blog_url",
              "value": "={{ $('Create Success Log Entry').item.json.blog_url }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "blog_title",
              "value": "={{ $('Create Success Log Entry').item.json.title }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "blog_id",
              "value": "={{ $('Create Success Log Entry').item.json.blog_id }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "timestamp",
              "value": "={{ $('Create Success Log Entry').item.json.timestamp }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "meme_images",
              "value": "={{ $('Aggregate Meme Images').item.json.url }}",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "recipient_email",
              "value": "={{ $('Workflow Configuration').item.json.email }}",
              "type": "string"
            },
            {
              "id": "id-8",
              "name": "series_index",
              "value": "={{ $('Create Success Log Entry').item.json.selected_index }}",
              "type": "number"
            },
            {
              "id": "id-9",
              "name": "completion_status",
              "value": "={{ $('Create Success Log Entry').item.json.completion_signal }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "fb37f074-f322-4ae6-aa6a-943244e34fed",
      "name": "Prepare Email with linkdin posted",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -20752,
        6432
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "blog_contents"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('Query Overview Table1').item.json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "finished": true,
            "linkdin_url": "true"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "seriesName",
              "displayName": "seriesName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "searchTopic",
              "displayName": "searchTopic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "blog_url",
              "displayName": "blog_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "linkdin_url",
              "displayName": "linkdin_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "finished",
              "displayName": "finished",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "id_google_sheet",
              "displayName": "id_google_sheet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "4c25848f-13fe-44bb-92b8-0a4c43ca1068",
      "name": "Query Overview Table3",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -20832,
        6208
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b556d558-2a49-418f-a1d3-2131bd03e251",
              "leftValue": "={{ $json.output.series_plan }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -25312,
        6192
      ],
      "id": "6ae8fd78-1fd2-4eed-8c3d-20d1a0f89a95",
      "name": "If5"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Workflow Configuration').item.json.email }}",
        "subject": "OPEN AI KEY EXPIRED",
        "emailType": "text",
        "message": "=OPEN AI KEY encountered an error at {{ $json.timestamp }}.\n\ntHIS OCARED WHILE PROSESSING AI1 content discovary",
        "options": {
          "bccList": "",
          "ccList": ""
        }
      },
      "id": "ef2fc169-d11d-4ff4-beb1-2ac569a748b2",
      "name": "Send Email Notification3",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -24064,
        5936
      ],
      "webhookId": "8d9f6b08-ca36-4152-bd96-2c8aa360eb59",
      "retryOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "xhpIoo0rWaN2m6OQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b556d558-2a49-418f-a1d3-2131bd03e251",
              "leftValue": "={{ $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -24624,
        6176
      ],
      "id": "01370152-fd7d-4433-95f3-26d078b129d8",
      "name": "If6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b556d558-2a49-418f-a1d3-2131bd03e251",
              "leftValue": "={{ $json.url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -24320,
        6832
      ],
      "id": "dda677b7-17f4-4633-91cd-4b8c24ba1ec6",
      "name": "If7"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b556d558-2a49-418f-a1d3-2131bd03e251",
              "leftValue": "={{ $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -22256,
        6560
      ],
      "id": "0869abc7-5d25-4a7a-aea8-619277f26978",
      "name": "If8"
    },
    {
      "parameters": {
        "person": "W99IOxR57F",
        "text": "={{ $('AI4 - LinkedIn Post Generator').item.json.output.linkedin_post_text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        -21504,
        6960
      ],
      "id": "96b6374e-5aee-48ab-9607-7898a6c7db3e",
      "name": "Create a post with no midea url",
      "notesInFlow": false,
      "retryOnFail": true,
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "YGMhQ94fa48dPYLj",
          "name": "LinkedIn account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e42674cb-6f68-49ef-ac9d-6ebde2f9cc3f",
              "name": "published",
              "value": "={{ $json.published }}",
              "type": "boolean"
            },
            {
              "id": "b0023357-0625-4620-a823-3482f76a4989",
              "name": "api_response",
              "value": "={{ $json.api_response }}",
              "type": "string"
            },
            {
              "id": "156b5037-70dc-458b-a1a3-af8370744b1f",
              "name": "blog_url",
              "value": "={{ $json.blog_url }}",
              "type": "string"
            },
            {
              "id": "075aa201-d703-462e-875f-7879538cef34",
              "name": "blog_id",
              "value": "={{ $json.blog_id }}",
              "type": "string"
            },
            {
              "id": "583d4a11-41cf-499a-a93c-4393af7d9821",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "f6cb97b6-2e03-40cb-8420-0b33101f47c9",
              "name": "timestamp",
              "value": "={{ $json.timestamp }}",
              "type": "string"
            },
            {
              "id": "04a3bad4-68b3-4cff-ab27-aee939d6d154",
              "name": "success",
              "value": "={{ $json.success }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -22176,
        6144
      ],
      "id": "cafd152f-41c3-4ced-8c90-fcf80f1e2c3c",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "id": "1df8bd13-b3f9-41c2-8d5a-b2998f1039d8",
      "name": "Stop - Invalid AI Output3",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -21376,
        7408
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "blog_contents"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "finished_At",
              "condition": "isNotEmpty"
            }
          ]
        },
        "returnAll": true
      },
      "id": "52bcc3c1-6946-4c86-abc4-c12dc2cd1f15",
      "name": "Query Overview Table4",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -27056,
        6480
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "55d79a95-7278-4bf5-84f1-3cb60aa41f69",
              "leftValue": "={{ $json[\"dictate if to run\"] }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -26512,
        6688
      ],
      "id": "db82774f-5e92-4e0d-9bbd-e90e15958f85",
      "name": "If9"
    },
    {
      "parameters": {
        "operation": "getTimeBetweenDates",
        "startDate": "={{ $json.finished_At }}",
        "endDate": "={{ $('Trigger Workflow').item.json.timestamp }}",
        "units": [
          "hour"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -26864,
        6480
      ],
      "id": "e236c03e-8e6d-4059-b190-ca510c384694",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "# _items contains your list of items with 'timeDifference' -> 'hours'\n\nflag = 1  # assume all are greater than 6\n\nfor item in _items:\n    hours = item[\"json\"][\"timeDifference\"][\"hours\"]\n    if hours < 6:\n        flag = 0\n        break  # no need to check further\n\n# Return a single item\nreturn [{\n    \"json\": {\n        \"dictate if to run\": flag\n    }\n}]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -26688,
        6512
      ],
      "id": "e497a847-3deb-40cf-a9fb-69b2ac6f5188",
      "name": "check the time data if anyone of them is less than 6 hours"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -22160,
        6336
      ],
      "id": "0883cdc7-27b4-49ed-a6c3-11bf5411e36b",
      "name": "Date & Time1"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "blog_contents"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('Query Overview Table1').item.json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "finished": true,
            "blog_url": "={{ $('If1').item.json.blog_url }}",
            "finished_At": "={{ $json.currentDate }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "seriesName",
              "displayName": "seriesName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "searchTopic",
              "displayName": "searchTopic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "blog_url",
              "displayName": "blog_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "linkdin_url",
              "displayName": "linkdin_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "finished",
              "displayName": "finished",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "id_google_sheet",
              "displayName": "id_google_sheet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "finished_At",
              "displayName": "finished_At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "dryRun": false
        }
      },
      "id": "fd9e885b-fbb8-40d8-a4f6-f92d7c09a2af",
      "name": "blog_contents table update",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -21776,
        6368
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "id": "05dd6bd5-980b-4720-85f9-4205d6994a7a",
      "name": "Stop - Already Has been executed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -26224,
        6784
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Trigger Workflow": {
      "main": [
        [
          {
            "node": "Query Overview Table4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "AI1 - Content Discovery Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Node4 - JWT Authentication",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model for Discovery": {
      "ai_languageModel": [
        [
          {
            "node": "AI1 - Content Discovery Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Search Tool": {
      "ai_tool": [
        [
          {
            "node": "AI1 - Content Discovery Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search Results Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI1 - Content Discovery Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI1 - Content Discovery Agent": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model for Content": {
      "ai_languageModel": [
        [
          {
            "node": "AI2 - Content Generation Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Content Structure Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI2 - Content Generation Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI2 - Content Generation Agent": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Node4 - JWT Authentication": {
      "main": [
        [
          {
            "node": "Extract JWT Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI3 - Image Generation": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge JWT with Content": {
      "main": [
        [
          {
            "node": "Prepare Publishing Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Publishing Payload": {
      "main": [
        [
          {
            "node": "Node5 - Publish Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Publishing Success": {
      "main": [
        [
          {
            "node": "Create Success Log Entry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait Before Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Before Retry": {
      "main": [
        [
          {
            "node": "Retry Publish Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Publish Content": {
      "main": [
        [
          {
            "node": "Check Publishing Success1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract JWT Token": {
      "main": [
        [
          {
            "node": "Merge JWT with Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Content and Images": {
      "main": [
        [
          {
            "node": "Merge JWT with Content",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Create Success Log Entry": {
      "main": [
        [
          {
            "node": "AI4 - LinkedIn Post Generator",
            "type": "main",
            "index": 0
          },
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Failure Log Entry": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Email Notification2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model for LinkedIn": {
      "ai_languageModel": [
        [
          {
            "node": "AI4 - LinkedIn Post Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Post Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI4 - LinkedIn Post Generator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Meme Images": {
      "main": [
        [
          {
            "node": "Merge LinkedIn and Meme Images",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge LinkedIn and Meme Images": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Email HTML": {
      "main": [
        [
          {
            "node": "Send Email Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Node5 - Publish Content": {
      "main": [
        [
          {
            "node": "Check Publishing Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Publishing Success1": {
      "main": [
        [
          {
            "node": "Create Success Log Entry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Failure Log Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI4 - LinkedIn Post Generator": {
      "main": [
        [
          {
            "node": "If8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Prepare Email with linkdin posted",
            "type": "main",
            "index": 0
          },
          {
            "node": "Query Overview Table3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Email for linkdin notposted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Email HTML1": {
      "main": [
        [
          {
            "node": "Send Email Notification1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Code in Python",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Valid Rows": {
      "main": [
        [
          {
            "node": "Query Overview Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Overview Table": {
      "main": [
        [
          {
            "node": "Count Existing Entries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count Existing Entries": {
      "main": [
        [
          {
            "node": "Code in Python2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Deduplication Gate": {
      "main": [
        [
          {
            "node": "Stop - Already Has 5 Topics",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare AI Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AI Input": {
      "main": [
        [
          {
            "node": "AI Planning Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model for Planning": {
      "ai_languageModel": [
        [
          {
            "node": "AI Planning Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Topics Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Planning Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Planning Agent": {
      "main": [
        [
          {
            "node": "Code in Python1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate AI Output": {
      "main": [
        [
          {
            "node": "Truncate to 5 Topics",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop - Invalid AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Truncate to 5 Topics": {
      "main": [
        [
          {
            "node": "Split Topics into Individual Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Topics to Overview Table": {
      "main": [
        [
          {
            "node": "Aggregate Inserted Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Inserted Topics": {
      "main": [
        [
          {
            "node": "Code in Python3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python": {
      "main": [
        [
          {
            "node": "Filter Valid Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python1": {
      "main": [
        [
          {
            "node": "Validate AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Topics into Individual Items": {
      "main": [
        [
          {
            "node": "Format Each Topic for Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Each Topic for Insert": {
      "main": [
        [
          {
            "node": "Insert Topics to Overview Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python2": {
      "main": [
        [
          {
            "node": "Check Deduplication Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python3": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Update Sheet Finished Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop - Invalid AI Output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Overview Table1": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python4": {
      "main": [
        [
          {
            "node": "AI2 - Content Generation Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Create a post with no midea url",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a post1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a post1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Email for linkdin notposted": {
      "main": [
        [
          {
            "node": "Format Email HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Email with linkdin posted": {
      "main": [
        [
          {
            "node": "Format Email HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Code in Python4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email Notification3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "AI3 - Image Generation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Content and Images",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email Notification3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "Aggregate Meme Images",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Content and Images",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Send Email Notification3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If8": {
      "main": [
        [
          {
            "node": "Merge LinkedIn and Meme Images",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email Notification3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a post with no midea url": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Notification2": {
      "main": [
        []
      ]
    },
    "Node6 - Store Logs": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Node6 - Store Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Overview Table3": {
      "main": [
        []
      ]
    },
    "Send Email Notification": {
      "main": [
        []
      ]
    },
    "Send Email Notification1": {
      "main": [
        []
      ]
    },
    "Update Sheet Finished Status": {
      "main": [
        [
          {
            "node": "Stop - Invalid AI Output3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Notification3": {
      "main": [
        []
      ]
    },
    "Query Overview Table4": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "check the time data if anyone of them is less than 6 hours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If9": {
      "main": [
        [
          {
            "node": "Query Overview Table1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop - Already Has been executed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check the time data if anyone of them is less than 6 hours": {
      "main": [
        [
          {
            "node": "If9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "main": [
        [
          {
            "node": "blog_contents table update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "blog_contents table update": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "46da0293-67c5-47d6-868c-4c8e9234633e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ac11e0d551bab52c41664cec9830d5d318a824f1a1f4104aa9bc95ad692ce8a9"
  },
  "id": "ZpaV9fXfiM1ckF5kkYLcG",
  "tags": []
}